* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue Cyr Thin";
  --black-color: #1c1f22;
  --grey-color: #757778;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #1c1f22;
}

body > header {
  padding: 1rem;
}

body > header > nav {
  padding: 1rem;
}

body > header > nav > * {
  color: #fff;
  margin: auto 1rem;
  font-family: "Helvetica Neue Cyr Light";
  background-color: transparent;
  border: none;
}

body > header > nav > button {
  font-size: 1rem;
}

#logo {
  font-size: 1.5rem;
  flex-grow: 1;
}

#logo:hover {
  cursor: pointer;
}

/* Shop styles */

section#shop {
  margin-top: 4rem;
}

section#shop > header {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2rem 0;
}

.filters-header {
  color: #fff;
}

.filters {
  padding: 0.5rem 1rem;
  font-family: "Helvetica Neue Cyr Light";
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: #fff;
  color: var(--black-color);
  text-align: center;
  cursor: pointer;
}

.item-wrapper {
  width: 90%;
}

.item-wrapper > img {
  width: 100%;
}

.price-and-actions-wrapper {
  padding: 1rem 0;
}

.item-action-btn {
  cursor: pointer;
  background-color: #fff;
  color: var(--black-color);
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.item-action-btn:active {
  transform: scale(0.9);
}

button.bi {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: transparent;
}

.name-and-price {
  color: #fff;
  flex-grow: 1;
}

.name-and-price > i {
  color: #fff;
}

.name {
  font-family: "Helvetica Neue Cyr Roman";
  font-size: 1rem;
}

.old-price {
  font-family: "Helvetica Neue Cyr Roman";
  color: var(--grey-color);
  text-decoration: line-through;
}

.price {
  font-family: "Helvetica Neue Cyr Bold";
}

.count-wrapper {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-btn {
  background-color: transparent;
  border: none;
  color: #fff;
}
